
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>
        $(function () {
            $("#btnGetDate").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/AjaxDemo/GetDate",
                    success: function (data) {
                        alert(data);
                    }
                })
            });
            $("#btnGetList").click(function () {
                $.ajax({
                    url: "/AjaxDemo/GetList",
                    type: "POST",
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            $("#div1").append(data[i].UserName);
                        }

                    }
                })
            });
        });
    </script>
</head>
<body>
    <div>
        <input type="button" value="获取时间" id="btnGetDate" />
        <input type="button" value="获取列表数据" id="btnGetList" />
    </div>
    <div id="div1">

    </div>
</body>
</html>
