
@{
    ViewBag.Title = "ShowLayoutPage";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section head{
    <script>

    </script>
}
<h2>ShowLayoutPage</h2>

@section foot{
    footfootfootfootfootfootfootfootfootfootfootfootfootfootfootfootfootfootfoot
}